{% extends "base.html" %}
{% block title %} {{ user.get_username }}'s portfolio {% endblock %}
{% block content %}
    <h2>Your Portfolio</h2>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>

    <div class="table__wrapper">
        <div class="title-block">
            <div class="title-text"><strong>Total holdings:</strong></div>
            <div class="_35px-hor-space"></div>
            <div class="title-text">{{ holdings_fiat }}</div>
            <div class="_5px-hor-space"></div>
            <div class="title-text">{{ fiat_symbol }}</div>
        </div>
        <div class="table-point">
            <div class="column">
                <div class="title-text"><strong>Symbol</strong></div>
            </div>
            <div class="column">
                <div class="title-text"><strong>Name</strong></div>
            </div>
            <div class="column">
                <div class="title-text"><strong>Amount</strong></div>
            </div>
            <div class="column">
                <div class="title-text"><strong>Amount in {{ fiat_symbol }}</strong></div>
            </div>
        </div>
        {% for crypto, data in balances.items %}
        <div class="table-point grey">
            <div class="column">
                <div class="title-text">{{ crypto.symbol }}</div>
            </div>
            <div class="column">
                <div class="title-text">{{ crypto.name }}</div>
            </div>
            <div class="column">
                <div class="title-text">{{ data.amount }}</div>
            </div>
            <div class="column">
                <div class="title-text">{{ data.amount_fiat|floatformat:4 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{crypto_symbols|safe}},
                datasets: [{
                    data: {{amounts_fiat|safe}},
                    backgroundColor: {{colors|safe}}
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Portfolio crypto distribution chart',
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                }

            }


        });

    </script>
{% endblock %}