{% extends "base.html" %}

{% block content %}
    <div class="table__wrapper">
        <div class="title-block">
            <div class="title-text"><strong>Cryptocurrency holdings:</strong></div>
            <div class="_35px-hor-space"></div>
            <div class="title-text">{{ holdings }}</div>
            <div class="_5px-hor-space"></div>
            <div class="title-text">USD</div>
        </div>
        <div class="table-point">
            <div class="column">
                <div class="title-text"><strong>Currency</strong></div>
            </div>
            <div class="column">
                <div class="title-text"><strong>Amount</strong></div>
            </div>
            <div class="column">
                <div class="title-text"><strong>Amount in USD</strong></div>
            </div>
        </div>
        {% for crypto, data in balance.items %}
        <div class="table-point grey">
            <div class="column">
                <div class="title-text">{{ crypto.symbol }}</div>
            </div>
            <div class="column">
                <div class="title-text">{{ data.amount }}</div>
            </div>
            <div class="column">
                <div class="title-text">{{ data.amount_fiat }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{symbols|safe}},
                datasets: [{
                    data: {{amounts_fiat|safe}},
                    backgroundColor: {{colors|safe}}
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Portfolio crypto distribution chart',
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                }

            }


        });

    </script>
{% endblock %}